.pagination {
    display: flex;
    justify-content: center;

    margin: 27px 0 18px 0;
}

.spinner {
    display: flex;
    justify-content: center;
}

.empty {
    display: flex;
    justify-content: center;
}

.ant-card {
    display: flex;
}